/* ---------------Tipografias--------------- */

$fuentePrincipal:'Nunito', sans-serif;
$fuenteSecundaria:'Zen Kaku Gothic Antique', sans-serif;

/* ---------------tamanio fuente--------------- */

$tamanioPrincipal: 50px;


/* ---------------Colores--------------- */

$colorPrincipal: #1d1d1f;
$colorSecundario: #424245;
$colorTerciario:rgb(31, 31, 185);



/* ---------------Background color---------------*/

$backgroundPrimario:#fbfbfd;
$backgroundSecundario: #d2d2d7;




